<h1>
    <%= @user.first_name %>
</h1>
<ul>
    <li>
        <p>ID: <%= @user.id %></p>
    </li>
    <li>
        <p>First Name: <%= @user.first_name %></p>
    </li>
    <li>
        <p>Last Name: <%= @user.last_name %></p>
    </li>
    <li>
        <p>Email: <%= @user.email %></p>
    </li>
    <li>
        <p>Updated at: <%= @user.updated_at %></p>
    </li>
    <li>
        <p>Created at: <%= @user.created_at %></p>
    </li>
</ul>
<p><%= link_to 'Back to Users List', users_path %></p>
